/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/04/2020, 22:16:44
    Author     : emily
*/

.navbar{
    background-color: #8d2729;
}
body, html{
    height: 100%;
    background-repeat: no-repeat;
    background-color: #ececec;
    font-family: 'Oxygen', sans-serif;
    
}
.container marketing{
    height: 100%;
    align-content: center;
}
.card{
height: 310px;
top:4px;
margin-top: 5px;
width: 900px;
background-color: #ececec !important;
}
.text {
    color: #000 !important;
    font-family: Apple Chancery, cursive;
}