/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and ope            <h2>F c l</h2>
n the template in the editor.
*/
/* 
    Created on : 25/04/2020, 16:45:39
    Author     : emily
*/
@import url('https://fonts.googleapis.com/css?family=Rozha+One&display=swap');
.navbar{
    background-color: #8d2729;
}
.col-lg-4{
    margin-top: 10px;
    animation-name: fotinho;
    animation-duration: 6.5s;
}
h2{
    text-align: center;
}
.titulo{
 font-family: 'Rozha One', serif;
 text-align: center;
}
.corpo{
     text-align: justify;
}
i{
    color: #8d2729;
}
.instru{
    text-align: justify;
}
.sub{
    margin-left: 25px;
}


@keyframes fotinho{
    0%{
        margin-left: -100px;
    }100%{
        
    }
}
