/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/04/2020, 23:02:00
    Author     : emily
*/

html,body{

background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 390px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFF;
width: 110px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
.text {
    color: white !important;
    font-family: Apple Chancery, cursive;
}
.input-group-prepend span {
    width: 50px;
    background-color:#27408B;
    color: black;
    border: 0 !important;
}
.card-header h3 {
    color: white;
    text-align: center;
    font-family: Apple Chancery, cursive;
    
}
.btn-light:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}
.ini{
    width: 140px;
    height: 30px;
    border-radius: 4px;
     
}
.ini:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}
.blogin{
    width: 200px;
    height: 30px;
    border-radius: 4px;
     
}
.blogin:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}