/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/04/2020, 14:51:27
    Author     : emily
*/
body, html{
    height: 100%;
    background-repeat: no-repeat;
    background-color: #ececec;
    font-family: 'Oxygen', sans-serif;
    
}
body{
    background-color: #ececec;
}
.navbar{
    background-color: #8d2729;
}
.container marketing{
    height: 100%;
    align-content: center;
}
.card{
height: 483px;
top:10px;
margin-top: auto;
margin-bottom: auto;
width: 900px;
background-color:#ececec !important;
}

.text {
    color: #000 !important;
    font-family: Apple Chancery, cursive;
}
.row {
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}