/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/04/2020, 15:18:07
    Author     : emily,bia,leticia
*/

body{
    background-color: lightblue;
}
.navbar{
    background-color: #8d2729;
}

 